body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header-part {
    text-align: center;
    color: rgba(0, 2, 0, 0.986);
    font-size: 25px;
    /* font-weight: 700px; */
    background-image: url('../img/blood2.jpeg');
    height: 450px;
    padding-top: 100px;

}


.link-btn {
    text-decoration: none;
    color: white;
    background-color: rgba(245, 4, 4, 0.719);
    border-radius: 5px;
    padding: 10px 10px;
}

/* donate today section css content start---------- */

.donate-today-section {
    text-align: center;
    margin-top: 100px;
    width: 50%;
    margin-left: 300px;
}

.donate-today-section h2 {
    font-size: 30px;
}

.flex-box {
    display: flex;

}

.taka-part {
    color: brown;
    border: 2px solid red;
    border-radius: 5px;
    background-color: #fcf1f1;
    padding: 30px;
    margin-right: 20px;
}

.taka-part-2 {
    background-color: #faebeb;
    margin-right: 30px;
    padding: 30px;

}

hr {
    margin-bottom: 30px;
}

/* donate today section css content end---------- */

/*--- donate-plan-section-css-content start------ */

.donate-plan-section {
    text-align: center;
    margin-top: 100px;
    width: 50%;
    margin-left: 300px;
    margin-bottom: 50px;
}

.donate-plan-section h1 {
    font-size: 30px;
}

.h3-font-size {
    font-size: 25px;
}

.background-color-a {
    background-color: #eaf7fc;
    padding: 50px 20px 50px 20px;
    margin-right: 25px;
    margin-left: 100px;
    text-align: left;
    border-radius: 5px;
}

.background-color-b {
    background-color: #f7e2e2;
    padding: 50px 20px 50px 20px;
    margin-right: 25px;
    text-align: left;
    border-radius: 5px;
}

.background-color-c {
    background-color: #f8f8db;
    padding: 50px 20px 50px 20px;
    margin-right: 100px;
    text-align: left;
    border-radius: 5px;
}